<h1>Welcome</h1>
<% if logged_in? %>
    <h1>You are Logged In, <%= current_user.role %> <%= current_user.username %></h1>
    <%= button_to "Logout", '/logout', method: :get%>
    <% if current_user.role == 'student' %>
    # <%= form_tag '/post' do %>
    #     <%= label_tag :title%>
    #     <%= text_field_tag :title %>
    #     <%= label_tag :body%>
    #     <%= text_field_tag :body%>
    #     <%= submit_tag "submit"%>
    #  <%end%>
     <% else %> 
        
     <% end %> 

<% else %> 
<%= button_to "Login", '/login', method: :get%>
<%= button_to "Sign Up", '/users/new', method: :get%>
<%end%>