<div class="container" style="width: 80%">
  <% if flash[:alert] %>
    <div class="alert alert-danger"  style="text-align: center;">
      <span class="error"><%= flash[:alert] %></span>
    </div>
  <% end %>
  <div class="row align-items-center">
    <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 main">
      <div class="panel panel-primary">
        <div class="panel-heading">Edit No.<%= @reply.id %> reply of post <%= @post.id %> </div>
        <table class="table table-striped">
          <thead>
          <tr class="bg-info">
            <th>Topic</th>
            <th>Department</th>
            <th>Subject</th>
            <th>Create time </th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th><%= @post.topic %></th>
            <th><%= @post.department %></th>
            <th><%= @post.subject %></th>
            <th><%= @post.created_at%>
            </th>
          </tr>
          </tbody>
        </table>
        <table class="table">
          <thead>
            <tr class="bg-primary">
              <th style="text-align: center;">Replies</th>
            </tr>
          </thead>
          <tbody>
            <tr>
            </tr>
          </tbody>
        </table>
        <table class="table table-striped">
          <thead>
            <tr class="bg-info">
              <th style="text-align: center;">User ID</th>
              <th style="text-align: center;">Content</th>
              <th style="text-align: center;">Time</th>
            </tr>
          </thead>
          <tbody>
            <% @replies.each do |reply| %>
            <tr>
              <th> <%= @user_id_to_username[reply.user_id] %> </th>
              <th> <%= reply.content %> </th>
              <th> <%= reply.created_at %> </th>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="panel panel-primary">
        <div class="panel-heading">Edit your reply</div>
        <div style="padding: 25px">
          <%= form_tag post_reply_path(@post, @reply),:method => :put, :class => "form-horizontal center" do %>
            <div class="form-group">
              <%= label_tag :content %>
              <%= text_area_tag :content, @reply.content , class: "form-control" %>
            </div>
            <%= submit_tag "Submit", :class => "btn btn-primary" %>
            <%= link_to "Cancel", post_replies_path(@post), :class => "btn btn-primary" %>
          <%end%>
        </div>
      </div>
    </div>
  </div>
</div>