<div class="container">
  <div class="row align-items-center">
    <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">

      <div class="panel panel-primary">

        <div class="panel-heading">Your Posts</div>

        <div style="padding: 25px">
          <%= form_tag posts_path, :class => "form-horizontal center" do %>
            <div class="form-group">
              <%= label_tag :topic %>
              <%= text_field_tag :topic,"" , class: "form-control" %>
            </div>
            <div class="form-group">
              <%= label_tag :department %>
              <%= text_field_tag :department,"" , class: "form-control" %>
            </div>
            <div class="form-group">
              <%= label_tag :subject %>
              <%= text_field_tag :subject,"" , class: "form-control" %>
            </div>
            <div class="form-group">
              <%= label_tag :body %>
              <%= text_area_tag :body,"" , class: "form-control" %>
            </div>
            <%= submit_tag "Submit", :class => "btn btn-primary" %>
          <%end%>
        </div>

      </div>
    </div>
  </div>
</div>

