<div class="container">
  <div class="row align-items-center">
    <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 main">
      <div class="panel panel-primary">
        <div class="panel-heading">No.<%= @post.id %> post</div>
        <table class="table table-striped">
          <thead>
          <tr class="bg-info">
            <th>Topic</th>
            <th>Department</th>
            <th>Subject</th>
            <th>Create time </th>
          </tr>
          </thead>
          <tbody>
            <tr>
              <th><%= @post.topic %></th>
              <th><%= @post.department %></th>
              <th><%= @post.subject %></th>
              <th><%= @post.created_at %>
              </th>
            </tr>
          </tbody>
        </table>
        <table class="table table-striped">
          <thead>
          <tr class="bg-info">
            <th style="text-align: center;">Post body</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th style="word-break:break-all;"><%= @post.body %></th>
          </tr>
          </tbody>
        </table>
        <table class="table">
          <thead>
            <tr class="bg-primary">
              <th style="text-align: center;">Replies</th>
            </tr>
          </thead>
          <tbody>
            <tr>
            </tr>
          </tbody>
        </table>
        <table class="table table-striped">
          <thead>
            <tr class="bg-info">
              <th style="text-align: center;">User ID</th>
              <th style="text-align: center;">Content</th>
              <th style="text-align: center;">Time</th>
            </tr>
          </thead>
          <tbody>
            <% @replies.each do |reply| %>
            <tr>
              <th> <%= @user_id_to_username[reply.user_id] %> </th>
              <th> <%= reply.content %> </th>
              <th> <%= reply.created_at %> </th>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <%= button_to "Send Reply", new_post_reply_path(@post), method: :get,:style => "float: left;", :class => 'btn btn-primary'%>
      <%= button_to "Replies Detail", post_replies_path(@post), method: :get,:style => "float: left;", :class => 'btn btn-primary'%>
      <%= button_to "Edit post body", edit_post_path(@post), method: :get,:style => "float: left;", :class => 'btn btn-primary'%>
      <%= button_to "Back", posts_path, method: :get, :style => "margin-left: 20px;", :class => 'btn btn-primary'%>
    </div>
  </div>
</div>