<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <head>
    <title>LionMessage</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= javascript_pack_tag 'application' %>
    <% if current_user %>
      <h1>LionMessage</h1>
      <h1>Username: <%= current_user.username %></h1>
      <%= button_to "Logout_layout", '/logout', method: :get%>
    <% else %>
      <%= button_to "Login_layout", '/login', method: :get%>
      <%= button_to "Signup_layout", '/users/new', method: :get%>
    <%end%>
  </head>

  <body>
    <%= yield %>
  </body>
</html>

